<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}SchoolBook!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body id="{% block body_id %}{% endblock %}">
    <div id="navbar">
        {% include 'common/navbar.html.twig' %}
    </div>
        {% block body %}
            <div class="container body-container" id="main">
                <div class="row">
                    <div id="content" class="col-sm-9">
                        {% block main %}{% endblock %}
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    <div id="footer">
        {% include 'common/footer.html.twig' %}
    </div>
    </body>
</html>



