{% extends 'base.html.twig' %}
{% block main %}
    <div class="row grades mt-5">
        <div class="col-12">
            <div class="custom-table-temlate">
            {% if grades is defined %}
                <div class="header">Grades</div>
                <table cellspacing="0" class="table-grades">
                    <tr>
                        <th>Course</th>
                        <th>Grade</th>
                        <th>Notes</th>
                    </tr>
                    {% for grade in grades %}
                        <tr>
                            <td>{{ grade.gradename }}</td>
                            <td>{{ grade.value }}</td>
                            <td>{{ grade.notes }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <div class="header">You are not registered yet.</div>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}