{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container" class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Hi</h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
