{% extends 'base.html.twig' %}
{% block admin %}
    <div id="admin">
        {% include 'admin/partials/navigation-top.html.twig' %}
        <div id="admin-wrapper">
            {% include 'admin/partials/navigation.html.twig' %}
        </div>
    </div>
{% endblock %}