{% block footer %}
    <div id="footer" class="">
        <div class="container">
            <div class="row mt-2">
                <div class="col-6 offset-6 align-self-center text-right">
                    <a class="git-hub-link" href="https://github.com/AlexxIV/softuni-symfony-project">
                        <img src="{{ asset('build/images/github-icon.png') }}" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}