{% extends 'base.html.twig' %}

{% block body_id 'register' %}
{% block main %}
    <div class="row">
        <div class="col-6 offset-3 text-center">
            <h2>Welcome!</h2>
            <h3>Please select how you want to register: </h3>
            <button class="btn-success btn" id="student-register"><i class="fas fa-user-graduate"></i> Register as Student</button>
            <button class="btn-danger btn" id="teacher-register">Register as Teacher <i class="fas fa-university"></i></button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            {{ form(form, {'method': 'POST', 'action': path('user_register'), 'attr' : { 'class': 'p-3', 'id': 'register-form' } }) }}
        </div>
    </div>
{% endblock %}