<nav id="admin-sidebar" class="active">
    <div class="sidebar-header">
        <h3>Control panel</h3>
    </div>

    <ul class="list-unstyled components">
        <p>Welcome {{ app.user.firstName }} {{ app.user.lastName }} !</p>
        <li class="{% if app.request.attributes.get('_route') == 'admin_home' %}active{% endif %}">
            <a href="{{ path('admin_home') }}">Home</a>
        </li>
        <li>
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Users</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="#">Students</a>
                </li>
                <li>
                    <a href="#">Teachers</a>
                </li>
                <li>
                    <a href="#">All Users</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">About</a>
        </li>
        <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a href="#">Students</a>
                </li>
                <li>
                    <a href="#">Teachers</a>
                </li>
                <li>
                    <a href="#">All Users</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Portfolio</a>
        </li>
        <li>
            <a href="{{ path('security_logout') }}">Logout</a>
        </li>
    </ul>
</nav>

