@include media-breakpoint-up(xl) {
  .table-head-day {
    font-size: 25px;
  }
  .table-index,
  .table-value {
    font-size: 16px;
  }
}
@include media-breakpoint-between(md, lg) {
  .table-head-day {
    font-size: 20px;
  }
  .table-index,
  .table-value {
    font-size: 14px;
  }
}
@include media-breakpoint-down(md) {
  .table-head-day {
    font-size: 3.5vw;
  }
  .table-index,
  .table-value {
    font-size: 2.5vw;
  }
}
@include media-breakpoint-down(sm) {
  .table-head-day {
    font-size: 4.5vw;
  }
  .table-index,
  .table-value {
    font-size: 3.5vw;
  }
}

.table-cell {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  @include media-breakpoint-down(md) {
    border-right: 1px solid black;
    margin-bottom: 20px;
  }
}
.table-cell:last-of-type {
  border-right: 1px solid black;
}
.table-row.first-row {
  border-top: 1px solid black;
}
.table-row {
  border-bottom: 1px solid black;
}
.table-row:last-of-type {
  border-bottom: none;
}
//
//.full-border {
//  border: 1px solid black;
//  padding: 0;
//}

