.class-select-pill {
  max-width: 100%;
  min-width: 65%;
  max-height: 60px;
  opacity: 0.9;
  border-radius: 6.5px;
  border: 1px solid transparent;
  box-shadow: 2px 2px 0 1px $baseColor;
  > span {
    font-size: 1.5rem;
  }
  &:hover,
  &:focus,
  &:active {
    box-shadow: unset;
    opacity: 1;
    border: 1px solid $baseColor;
    background: #fff;
    color: $baseColor;
    transform: scale(0.95);
  }
}