@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.css";

@import "_helpers/variables";
@import "_helpers/fonts";
@import "_helpers/helpers";
@import "_helpers/animations";


@import "footer";
@import "navbar";
@import "tables";
@import "custom-tables";
@import "forms";
@import "statistics";
@import "home";
@import "teacher-index";
@import "profile";

@import "admin/home";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  color: #fff;
  font-family: $font-family-base;
}

body {
  background: url('images/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  // Temp
  background-size: cover;
}

#main-wrapper {
  min-height: 100vh;
  position: relative;
  background: rgba(0, 0, 0, 0.2);
  padding-bottom: 50px;
}

