
{#{% for emptyClass in emptyClasses %}#}
    {#<div class="row">#}
        {#<div class="col-6 offset-3 mt-2 mb-2">#}
            {#<span class="font-weight-bold">Grade:</span> {{ emptyClass.classNumberIdentifier~emptyClass.classLetterIdentifier }}#}
            {#<a href="{{ path('teacher_subscribe', {'id': emptyClass.id,}) }}"#}
               {#class="float-right btn-primary btn">Select <i class="ml-1 fas fa-arrow-right"></i></a>#}
        {#</div>#}
    {#</div>#}
{#{% endfor %}#}


{% extends 'base.html.twig' %}
{% block main %}
    <h2 class="text-center m-5">You do not have a teaching class for the moment.<br/>Please select available class
        from the list: </h2>
    {{ form(form, {'method': 'POST', 'action': path('teacher_subscribe'), 'attr' : { 'class': 'p-5', 'id': 'select-class-form' } }) }}

{% endblock %}