{% extends 'base.html.twig' %}
{% block main %}
<h3 class="text-center m-2">You currently teaching: <span>{{ teacherClass.gradeForSelect }}</span> grade</h3>
{% if uncofirmedStudents is defined and uncofirmedStudents|length > 0 %}
    {% include 'teacher/partials/unconfirmed-students.html.twig' %}
{% endif %}
{% if confirmedStudents is defined and confirmedStudents|length > 0 %}
    {% include 'teacher/partials/confirmed-students.html.twig' %}
{% endif %}
{% endblock %}