<a href="#" class="btn-primary btn float-right mt-5" id="schedule-edit">Edit</a>
<a href="{{ path('teacher_schedule_edit') }}" class="btn-primary btn float-right ml-2 mt-5" style="display: none" id="schedule-save">Save</a>
<a href="#" class="btn-primary btn float-right mr-2 mt-5" style="display: none" id="schedule-save-cancel">Cancel</a>